body {
	font-family: 'Open Sans', sans-serif;
}


.logo{
	height: 60px;
}

.login{
	font-size: 12px;
	font-weight: bold;
	border: 2px solid;
}

.navbar{
	background-color: transparent;
}

.nav-link{
	font-weight: bolder;
	font-size: 16px;
}

#list {
	font-weight: bolder;
	font-size: 14px;
	padding: 16px;
}

#homebanner,
#home-text {
	font-weight: bolder;
}

#hero-img{
	height: 90vh;
}

.jumbotron{
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
}

#btn-lg{
	color: white;
	padding: 16px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 18px;
	font-weight: bolder;
}

.lead, 
.footer-nav,
.expertise,
.address {
	font-weight: bolder;
}

#specialize{
	font-weight: bolder;
	font-size: 14px;	
}

#imgserv{
	height: 150px;
	width: 180px;
}

.carousel {
  margin: 1.5rem;
}
.carousel-inner {
  height: auto;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

#page-footer{
	height: 100vh;
	background-color: black;
}

#footer-logo{
	height: 60px;
	filter: invert(100%);
}

hr{
	border-color: grey;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}